.vscode
__pycache__/
/m2/data/docs/new_episodes.json
/m3/data/docs/new_episodes.json
/m3/data/docs/semantic_episodes.json
**/.DS_Store
/m3/data/docs/chunked_episodes.json
/m3/data/docs/chunked_episodes_2.json